.sendfile{
    background-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    border:1px solid green ;
    opacity:.8;
    color:green;

}

.sendfile:hover{
    background-color: rgb(82, 207, 82);
    opacity:1;
    cursor:pointer;
    transform: translateY(-3px);
    transition:ease-in-out .3s;
    color :white;


}

.changepic{
    opacity: 0;
}

table{
    margin-right: 50%;
    border:1px solid black;

}

p{
    color :red;
    font-size:25px;
    font-weight: bolder;

}

p .l{
    color:black;
    font:bold;
}

label{
    font-size:22px;
    font-weight: bolder;
    
}

input{
    width:40%;
    border-radius: 5px;
    background-color: #ffffff;
    border:none;
    font-family: "Poppins";
    text-align: center;
    height:30px;
    font-size: 20px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}




input[type=text]{
    width:40%;
    font-size: 20px;
}

input[type=password]{
    width:40%;

}

.savechanges{
    /* background-color: #ff3e30; */
    border-style: none;
    border-radius:5px;
    background-color:#32c92d;
    color:black;
    border:1px solid #32c92d;
    font-weight:900;
    height:55px;

}

.savechanges:hover{
    opacity:1;
    background-color:#32c92d;
    transform: perspective();
    transition:all .4s;
}

fieldset{
    border-top:1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 2%;
}

legend{
    font-size: 24px;
    color:red;
}